* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

#root {
  height: 100%;
}

.ant-layout {
  min-height: 100vh;
}

.ant-layout-header h1 {
  margin: 0;
  color: #262626;
}

.ant-layout-content {
  background: #f0f2f5;
}